{% extends "default-layout.html" %}
<!--===========--LOAD STATIC---==============-->
{% load static %}
<!--===========--META TITLE---==============-->
{% block title %}
Product Detail
{% endblock %}
<!--===========--END META TITLE---==============-->

<!--===========--CSS---==============-->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product-detail.css' %}">
{% endblock %}
<!--===========--END CSS---==============-->

<!--===========--BEGIN CONTENT---==============-->
{% block content %}
    <!--Load tài nguyên tĩnh-->
    {% load static %}
   <h1>Product Detail</h1>
    <h2>{{ product.product_name }}</h2>
    <div style="width: 400px;height: 400px;background-color: #f3f3f3">
        {% if product.thumbnail %}
         <img height="400" width="auto" src="{{ product.thumbnail.url }}" alt="{{ product.product_name }}">
        {% endif %}

    </div>
    <p>Price: {{ product.price }}</p>
    <div>
        {% csrf_token %}
        <button class="btn_buy_now" type="button" onclick="buyNow()">Mua Ngay</button>
    </div>
    <script src="{% static 'js/cart.js' %}"></script>
    <script>
        const id = {{ product.id }};
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        const buyNow = async ()=>{
           console.log(id,csrftoken);
           const data = {
            id: id,
            product_name: "{{ product.product_name }}",
            price: {{ product.price }},
            discount: {{ product.discount }},
            quantity: 1,
            thumbnail: "{{ product.thumbnail }}"
        };
           try
            {
                const response = await fetch('/cart/add-item/', {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json",
                        'X-CSRFToken': csrftoken
                    },
                    mode: 'same-origin', // Do not send CSRF token to another domain.
                    body: JSON.stringify(data), // body data type must match "Content-Type" header
                });
                const results = await response.json();

                if(!results.success){
                    console.log(results.message);
                }
                alert(results.message || 'Thêm giỏ hàng thành công !');

            } catch (error) {
                console.error(`Error: `,error);
            }
        }
    </script>
{% endblock %}
<!--===========--END CONTENT---==============-->
