{% extends "default-layout.html" %}
{% load bootstrap5 %}
{% load static %}
{% block title %}
Khôi phục  mật khẩu
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Reset Password</h3>
                </div>
                <div class="card-body">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="otp">OTP</label>
                            <input type="text" class="form-control" id="otp" name="otp" required>
                            <small class="form-text text-muted">Enter the 6-digit OTP sent to your email.</small>
                        </div>
                        <div class="form-group mb-3">
                            <label for="new_password">New Password</label>
                            <input type="password" class="form-control" id="new_password" name="new_password" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="confirm_password">Confirm New Password</label>
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block js %}
<script>
    document.querySelector('form').addEventListener('submit', function(e) {
        var password = document.getElementById('new_password').value;
        var confirmPassword = document.getElementById('confirm_password').value;
        if (password != confirmPassword) {
            e.preventDefault();
            alert('Passwords do not match.');
        }
    });
    </script>
{% endblock %}